body {
	font-family: 'Cabin Condensed', sans-serif;
}

h1 {
    font-size: 75px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
img {
    /*width: 300px;*/
    border-width: 5px;
    border-style: groove;
    border-color: rgb(105, 105, 105);
}
body {
    background-color: rgb(34, 34, 34)
}
p, li, h1 {
    color: rgb(192, 192, 192);
}
.padding-horizontal {
    padding: 0 15px;
}
.heading {
    background-color: rgb(160, 160, 160);
    padding: 0 15px;  
}
.margin-bottom {
    margin-bottom: 50px;
}
p {
    font-size: 18px;
}
.ul-font {
    font-size: 18px;
}